= simple_form_for [:admin, @event], :html => { :class => 'form-horizontal' } do |f|
  .well
    = f.input :title
    = f.input :picture, as: :image_preview
    = f.input :description, as: :editor
    = f.input :body, as: :editor
    = f.input :slug
    = f.input :state_event, as: :state_event
    = f.association :categories
    = f.association :documents
    = f.input :published_at
    = f.input :started_at
    = f.input :ended_at
    -#= f.input :author_id
    -#= f.input :eventable_id
    -#= f.input :eventable_type
    .form-actions
      = f.button :submit, :class => 'btn btn-primary'
      = link_to t('.cancel', :default => t("helpers.links.cancel")), admin_events_path, :class => 'btn'
