.span9
  = simple_form_for admin_news_path(@news) do |f|
    = f.input :title
    = f.input :description, as: :text
    = f.input :body, as: :text
    = f.input :pucture
    = f.input :slug
    = f.button :submit
