#content
  .container
    .row
      .span9
        %h2= t(".top_news")
        %ul.thumbnails.thumbnails1
          - @top_news.each do |news|
            %li
              .thumbnail.clearfix
                %figure
                  = image_tag news.picture
                .caption
                  %h4= news.title
                  %p= news.description.html_safe
                  = link_to t('.read_more'), news, class: 'button1'

        %h3= t('.latest_news')
        %ul.thumbnails.thumbnails2
          - @news.each do |news|
            %li
              .thumbnail.clearfix
                %figure
                  = image_tag news.picture
                .caption
                  %h4= news.title
                  = news.description.html_safe
                  = link_to t('.more'), news_path(news)

      .span3
        %h3= t('.upcoming_events')
        - @events.each do |event|
          .thumb4
            .thumbnail.clearfix
              %figure.img-polaroid
                = image_tag event.picture
              .caption
                %h4= event.title
                = event.description.html_safe
                = link_to t('.more'), event_path(event)
