= simple_form_for [:admin, @document], :html => { :class => 'form-horizontal' } do |f|
  .well
    = f.input :title
    = f.input :photo, as: :image_preview
    = f.input :description
    = f.input :body, as: :editor
    = f.input :attachment
    = f.input :state_event, as: :state_event
    = f.association :categories
    = f.association :news
    .form-actions
      = f.button :submit, :class => 'btn btn-primary'
      = link_to t('.cancel', :default => t("helpers.links.cancel")), admin_documents_path, :class => 'btn'
