= simple_form_for @question, url: guest_books_path, :html => { :class => 'form-horizontal' } do |f|
  = f.input :title
  = f.input :description
  = f.input :first_name
  = f.input :last_name
  = f.input :email
  .form-actions
    = f.button :submit, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), guest_books_path, :class => 'btn'
